<!DOCTYPE html>
<html>
  <head>
    <title>Hometeam</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>
      <%= link_to "Hometeam", root_path %>
    </h1>
    

    <div id="navcontainer"> 
    	<% if session[:user_id] %>
      <% user = User.find(session[:user_id]) %>
    		logged in as <%= link_to user.email, "/users/#{user.id}" %>
        <%= link_to "Log out", "/users/logout" %>
    		<br>
    	<% else %>
  	  	<nav>
  			<%= form_tag("/login", method: "post") do %>
  			  <%= label_tag(:email, "Email:") %>
  			  <%= text_field_tag(:email) %>

  			  <%= label_tag(:password, "Password") %>
  			  <%= password_field_tag(:password) %>

  			  <%= submit_tag("Log in") %>
  			<% end %>
  	  	</nav>
    	<% end %>
    </div>

    <div>
      <%= yield %>
    </div>
  </body>
</html>
